/*------------------------------------------------------------------------------
-- // VARIABLES
------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$base-font-family: 'Lato', sans-serif;
$base-font-size:   18px;
$base-line-height: 1.625;
$break-font-size:   16px;
$break-line-height: 1.6;

$spacing-unit:     48px;
$content-width:    760px;
$media-break:      600px;

$background-color: #fafafa;
$grey-dark-color:  #2c2c2c;
$grey-med-color:   #424242;
$grey-light-color: #848484;
$highlight-color:  #dedede;
$brand-color:      #c41f3b;

// @include transition(all .25s ease-in-out);
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

// @include media-query {};
@mixin media-query {
  @media screen and (max-width: $media-break) {
    @content;
  }
}
