/*------------------------------------------------------------------------------
-- // RESETS
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span,
header, nav, main, article, section, aside, footer,
h1, h2, h3, h4, h5, h6,
p, strong, em, b, i, u, a, ol, ul, li,
blockquote, pre, code, hr,
img, audio, video,
table, caption, tbody, tfoot, thead, tr, th, td,
form, input {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}

header, nav, main, article, section, aside, footer,
blockquote, pre, hr,
img, audio, video,
table,
form {
  display: block;
}

/*------------------------------------------------------------------------------
-- // VARIABLES
------------------------------------------------------------------------------*/

:root {
  --spacing-unit: 36px;
  --wrapper-width: 700px;

  --color-primary-font: #424242;
  --color-secondary-font: #696969;
  --color-emphasize-font: #2c2c2c;

  --color-border: #dfdfdf;
  --color-primary-background: #fafafa;
  --color-secondary-background: #ecedef;

  --color-accent-light: #1994ff;
  --color-accent-dark: #2a4499;
}

/*------------------------------------------------------------------------------
-- // BASE
------------------------------------------------------------------------------*/

html { height: 100%; }  /* For pushing footer to bottom of page */

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-primary-font);
  background-color: var(--color-primary-background);
}

/* -- HEADINGS
------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--spacing-unit);
  font-weight: bold;
  line-height: 1.2;
  color: var(--color-emphasize-font);
}

h1 { font-size: 1.556em; }

h2 {
  margin-top: calc(var(--spacing-unit) * 2);
  font-size: 1.556em;
}

h3 {
  margin-top: var(--spacing-unit);
  font-size: 1.111em;
}

/* -- TEXT
------------------------------------------------------------------------------*/

p { margin-bottom: var(--spacing-unit); }
p:last-child { margin-bottom: 0; }

strong { font-weight: bold; }
em { font-style: italic; }

a {
  color: var(--color-accent-dark);
  text-decoration: none;
  border-bottom: 2px solid var(--color-border);
}
a:hover { border-bottom: 2px solid var(--color-accent-light); }


/* -- LISTS
------------------------------------------------------------------------------*/

ol {
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding-left: calc(var(--spacing-unit) / 2 );
}

ul {
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding-left: calc(var(--spacing-unit) / 2);
  list-style-type: square;
}
ul ul {
  margin-top: calc(var(--spacing-unit) / 8);
  margin-bottom: calc(var(--spacing-unit) / 8);
}
ul ol {
  margin-top: calc(var(--spacing-unit) / 8);
  margin-bottom: calc(var(--spacing-unit) / 8);
  padding-left: var(--spacing-unit);
}

/* -- CODE
------------------------------------------------------------------------------*/

pre,
code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: var(--color-emphasize-font);
  background-color: var(--color-secondary-background);
}

code {
  padding: 2px 8px;
  border: 1px solid var(--color-border);
}

pre {
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding: 8px 12px;
  overflow-x: auto;
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 4px solid var(--color-accent-dark);
}
pre code {
  padding: 0;
  color: inherit;
  border: 0;
  background-color: transparent;
}

/* -- MEDIA
------------------------------------------------------------------------------*/

img {
  margin-bottom: calc(var(--spacing-unit) / 2);
  max-width: 100%;
}

video {
  margin-bottom: calc(var(--spacing-unit) / 2);
  max-width: 100%;
}

/* -- TABLE
------------------------------------------------------------------------------*/

table {
  display: table;
  width: 100%;
  margin-bottom: calc(var(--spacing-unit) / 2);
  border-collapse: collapse;
  border: 1px solid var(--color-border);
}

tr { border-bottom: 1px solid var(--color-border); }
tr:last-child { border-bottom: none; }

th {
  padding-left: calc(var(--spacing-unit) / 4);
  padding-top: calc(var(--spacing-unit) / 8);
  padding-right: calc(var(--spacing-unit) / 2);
  padding-bottom: calc(var(--spacing-unit) / 8);
  font-size: .75em;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-secondary-background);
}
th:last-child { padding-right: calc(var(--spacing-unit) / 4); }

td {
  padding-left: calc(var(--spacing-unit) / 4);
  padding-top: calc(var(--spacing-unit) / 8);
  padding-right: calc(var(--spacing-unit) / 2);
  padding-bottom: calc(var(--spacing-unit) / 8);
  font-size: .75em;
  text-align: left;
}
td:last-child { padding-right: calc(var(--spacing-unit) / 4); }


/*------------------------------------------------------------------------------
-- // LAYOUT
------------------------------------------------------------------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: var(--wrapper-width);
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--spacing-unit) / 2);
  padding-left: calc(var(--spacing-unit) / 2);
}

/* -- HEADER
------------------------------------------------------------------------------*/

.site-header {
  flex-shrink: 0;
  margin-top: var(--spacing-unit);
}

.site-title {
  color: var(--color-emphasize-font);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: none;
}
.site-title:hover { border-bottom: 2px solid var(--color-accent-light); }


/* -- NAV
------------------------------------------------------------------------------*/

.site-nav {
  flex-shrink: 0;
  margin-top: calc(var(--spacing-unit) / 2);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav li {
  display: inline-block;
  padding-right: calc(var(--spacing-unit) / 2 );
}
.site-nav li:last-child { padding-right: 0; }

.site-nav a {
  display: block;
  color: var(--color-secondary-font);
  border-bottom: none;
}
.site-nav a:hover { color: var(--color-accent-light); }

/* -- MAIN
------------------------------------------------------------------------------*/

.content {
  flex-grow: 1;
  margin-top: calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 4);
}

.list-posts {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-posts li { display: block; }
.list-posts a { 
  color: var(--color-emphasize-font); 
  border-bottom: none;
}
.list-posts a:hover { color: var(--color-accent); }

.list-date {
  margin-right: calc(var(--spacing-unit) / 2);
  color: var(--color-secondary-font);
}

.post-meta {
  margin-top: calc(var(--spacing-unit) * 4);
  color: var(--color-secondary-font);
}

/* -- FOOTER
------------------------------------------------------------------------------*/

.site-footer {
  flex-shrink: 0;
  margin-bottom: var(--spacing-unit);
  color: var(--color-secondary-font);
  font-size: .889em;
  text-align: center;
}
.site-footer a {
  color: var(--color-secondary-font);
  text-decoration: none;
  border-bottom: none;
}
.site-footer a:hover { color: var(--color-accent-light); }
